# Hello!

*Italics*

In [ ]:
name = 'John'

In [ ]:
name

In [ ]:
name = 'Corey'

In [ ]:
name = 'Big Chungus'

In [ ]:
name

In [ ]:
%lsmagic

In [ ]:
%pwd

In [ ]:
%ls -la

In [ ]:
ls

In [ ]:
%matplotlib inline

In [1]:
%%timeit
square_evens = [n*n for n in range(1000)]

22.4 µs ± 219 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10,5))
df

          0         1         2         3         4
0  1.113355 -0.108413  0.804579 -1.202991 -0.112963
1  0.698747  0.614631 -0.879937 -0.524092 -0.248454
2 -1.037467 -0.907080 -1.015268 -1.866947  0.007390
3 -1.942420 -0.223372 -0.461354  0.834231  0.096980
4  0.526926  0.318557 -0.189593  0.312230 -1.920155
5 -0.600034  0.893265  0.653192  0.446381  0.127507
6  0.681004  0.957159 -0.128117 -0.971134 -0.588339
7  1.191735  0.409515  1.807762  0.724349 -0.666066
8  0.349274 -0.407637  1.044750  1.142204  0.197478
9  0.648070  1.016895 -1.152241  0.481431  0.047928